.product-cover {
  font-family: "Lato", sans-serif;  
  background: #FAFAFA;
  padding: 200px 200px 50px 500px;
  display: flex;
  flex-direction: row;
}

.product-cover .product-name {
  font-family: "Lato", sans-serif;
  color: #252525;
  letter-spacing: 1.61px;
  font-size: 46px;
  width: 317px;
  height: 55px;
}

.product-cover .product-price {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #8367D8;
  letter-spacing: 0.84px;
  
}

.product-cover .product-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  line-height: 22px;  
}

.product-cover img {
  width: 350px;
  height: 350px; 
  margin:20px;
}
