.product-cover {
  font-family: "Lato", sans-serif;
  background: #FAFAFA;
}

.product-cover .product-name {
  font-family: "Lato", sans-serif;
  color: #252525;
  letter-spacing: 1.61px;
}

.product-cover .product-price {
  font-family: "Lato", sans-serif;
  color: #8367D8;
  letter-spacing: 0.84px;

}

.product-cover .product-description {
  font-family: "Lato", sans-serif;
  color: #252525;
  letter-spacing: 0.56px;
}

.product-cover img {
  margin: 20px;
}

.product-cover img:hover {
  cursor: pointer;
}

.product-cover .button p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  padding: 7px 29px;
}


@media only screen and (min-width: 200px) {
  .product-cover {
    padding: 200px 700px 50px 80px;
    display: flex;
    flex-direction: column;
  }

  .product-cover img {
    width: 260px;
    height: 260px;
  }

  .product-cover .product-name {
    font-size: 30px;
    width: 260px;
    height: 37px;
  }

  .product-cover .product-price {
    width: 260px;
    font-size: 14px;
  }

  .product-cover .product-description {
    font-size: 10px;
    width: 280px;
    line-height: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product-cover {
    padding: 200px 700px 50px 140px;
    display: flex;
    flex-direction: column;
  }

  .product-cover img {
    width: 260px;
    height: 260px;
  }

  .product-cover .product-name {
    font-size: 30px;
    width: 260px;
    height: 37px;
  }

  .product-cover .product-price {
    width: 260px;
    font-size: 14px;
  }

  .product-cover .product-description {
    font-size: 10px;
    width: 280px;
    line-height: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .product-cover {
    padding: 200px 700px 50px 140px;
    display: flex;
    flex-direction: row;
  }

  .product-cover img {
    width: 250px;
    height: 250px;
  }

  .product-cover .product-name {
    font-size: 40px;
    width: 297px;
    height: 48px;
  }

  .product-cover .product-price {
    font-size: 18px;
  }

  .product-cover .product-description {
    font-size: 12px;
    line-height: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-cover {
    padding: 200px 700px 50px 200px;
    display: flex;
    flex-direction: row;
  }

  .product-cover img {
    width: 300px;
    height: 300px;
  }

  .product-cover .product-name {
    font-size: 42px;
    width: 300px;
    height: 47px;
  }

  .product-cover .product-price {
    font-size: 20px;
  }

  .product-cover .product-description {
    font-size: 12px;
    line-height: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .product-cover {
    padding: 200px 700px 50px 500px;
  }

  .product-cover img {
    width: 350px;
    height: 350px;
  }

  .product-cover .product-name {
    font-size: 46px;
    width: 317px;
    height: 55px;
  }

  .product-cover .product-price {
    font-size: 24px;
  }

  .product-cover .product-description {
    font-size: 16px;
    line-height: 22px;
  }
}