.single-product {
    padding: 200px 700px 50px 140px;
    display: flex;
    flex-direction: row;
}

.single-product .product-image {
    background: #ECECEC;
    margin: 50px;
}

.single-product img {
    margin: 50px;
}

.single-product .details {
    margin-top: 5%;
}

.single-product .product-price {
    color: #8367D8;
    width: 260px;
    font-size: 24px;
    letter-spacing: 0.84px;
    margin-top: 10%;
}

.single-product .line {
    background: #ECECEC;
    width: 600px;
    height: 4px;
    margin-bottom: 5%;
}

.single-product .image-gallery {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.single-product .image-gallery img:hover {
    cursor: pointer;
}

.single-product input {
    width: 176px;
    height: 54px;
    background: #ECECEC;
    border: 1px solid #D8D8D8;
}

.single-product .place-bid {
    display: flex;
    flex-direction: row;
}

.single-product .button {
    margin-left: 20px;
    width: 176px;
}

.single-product .button p {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;

}

.single-product .info {
    font-family: "Lato-Regular", sans-serif;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 0.56px;
    margin-top: 40px;
}

.single-product .error {
    color: red;
}

@media only screen and (min-width: 200px) {
    .single-product {
        padding: 100px 100px 100px 15px;
        display: flex;
        flex-direction: column;
    }

    .single-product .product-image {
        width: 360px;
        height: 460px;
    }

    .single-product img {
        margin-top: 27%;
        width: 260px;
        height: 260px;
    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 362px;
        height: 100px;
        padding: 30px 100px 10px 32px;
        margin-left: 13%;
    }

    .single-product .cols img {
        width: 80px;
        height: 80px;
        margin: -20px 30px 75px -22px;
    }

    .single-product .details {
        padding: 0px 0px 0px 45px;
    }

    .single-product .product-name {
        font-size: 30px;
        width: 260px;
        height: 37px;
    }

    .single-product .product-price {
        width: 260px;
        font-size: 16px;
    }

    .single-product .product-description {
        font-size: 15px;
        width: 360px;
        letter-spacing: 0.52px;
        line-height: 22px;
        margin-top: 50px;
    }

    .single-product .line {

        width: 360px;
    }

    .single-product .place-bid {
        display: flex;
        flex-direction: column;
    }

    .single-product .button {
        margin-top: 20px;
        margin-left: 0px;
    }

    .single-product .arrow {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .single-product .button p {
        font-size: 18px;
        padding: 8px 1px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .single-product {
        padding: 100px 100px 100px 130px;
        display: flex;
        flex-direction: column;
    }

    .single-product .product-image {
        width: 360px;
        height: 460px;
    }

    .single-product img {
        margin-top: 27%;
        width: 260px;
        height: 260px;
    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 362px;
        height: 100px;
        padding: 30px 100px 10px 32px;
        margin-left: 13%;
    }

    .single-product .cols img {
        width: 80px;
        height: 80px;
        margin: -20px 30px 75px -22px;
    }

    .single-product .details {
        padding: 0px 0px 0px 45px;
    }

    .single-product .product-name {
        font-size: 30px;
        width: 260px;
        height: 37px;
    }

    .single-product .product-price {
        width: 260px;
        font-size: 16px;
    }

    .single-product .product-description {
        font-size: 15px;
        width: 360px;
        letter-spacing: 0.52px;
        line-height: 22px;
        margin-top: 50px;
    }

    .single-product .line {

        width: 360px;
    }

    .single-product .place-bid {
        display: flex;
        flex-direction: column;
    }

    .single-product .button {
        margin-top: 20px;
        margin-left: 0px;
    }

    .single-product .arrow {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .single-product .button p {
        font-size: 18px;
        padding: 8px 1px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .single-product {
        padding: 100px 100px 100px 15px;
        display: flex;
        flex-direction: row;
    }

    .single-product .product-image {
        width: 360px;
        height: 460px;
    }

    .single-product img {
        margin-top: 27%;
        width: 260px;
        height: 260px;
    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 362px;
        height: 100px;
        padding: 30px 100px 10px 0px;
        margin-left: 10%;
    }

    .single-product .cols img {
        width: 80px;
        height: 80px;
        margin: -20px 30px 75px 11px;
    }

    .single-product .product-name {
        font-size: 36px;
        width: 260px;
        height: 37px;
    }

    .single-product .product-price {
        width: 260px;
        font-size: 16px;
    }

    .single-product .product-description {
        font-size: 15px;
        width: 400px;
        letter-spacing: 0.52px;
        line-height: 22px;
        margin-top: 50px;
    }

    .single-product .line {

        width: 400px;
    }

    .single-product .place-bid {
        display: flex;
        flex-direction: row;
    }

    .single-product .button {
        margin-left: 20px;
        margin-top: 0px;
    }

    .single-product .arrow {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .single-product .button p {
        font-size: 16px;
        padding: 7px 1px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .single-product {
        padding: 100px 100px 100px 15px;
        display: flex;
        flex-direction: row;
    }

    .single-product .product-image {
        width: 360px;
        height: 460px;
    }

    .single-product img {
        margin-top: 27%;
        width: 260px;
        height: 260px;
    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 362px;
        height: 90px;
        padding: 30px 100px 10px 32px;
        margin-left: 13%;
    }

    .single-product .cols img {
        width: 65px;
        height: 65px;
        margin: -20px 50px 75px -22px;
    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 362px;
        height: 100px;
        padding: 30px 100px 10px 5px;
        margin-left: 10%;
    }

    .single-product .cols img {
        width: 80px;
        height: 80px;
        margin: -20px 50px 75px 7px;
    }

    .single-product .product-name {
        font-size: 40px;
        width: 260px;
        height: 37px;
    }

    .single-product .product-price {
        width: 260px;
        font-size: 20px;
    }

    .single-product .product-description {
        font-size: 15px;
        width: 600px;
        letter-spacing: 0.52px;
        line-height: 22px;
        margin-top: 50px;
    }

    .single-product .line {

        width: 600px;
    }

    .single-product .place-bid {
        display: flex;
        flex-direction: row;
    }

    .single-product .button {
        margin-left: 20px;
        margin-top: 0px;
    }

    .single-product .arrow {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .single-product .button p {
        font-size: 18px;
        padding: 7px 1px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .single-product {
        padding: 100px 700px 50px 140px;
        display: flex;
        flex-direction: row;
    }

    .single-product .product-image {
        width: 470px;
        height: 570px;
    }

    .single-product img {
        margin-top: 23%;
        margin-left: 12%;
        width: 360px;
        height: 360px;

    }

    .single-product .image-gallery {
        background: #ECECEC;
        width: 470px;
        height: 130px;
        padding: 30px 90px 10px 25px;
        margin-left: 8%;
    }

    .single-product .cols img {
        width: 110px;
        height: 110px;
        margin: -20px 40px 0px -18px;
    }

    .single-product .product-name {
        font-size: 46px;
        width: 360px;
        height: 37px;
        letter-spacing: 1.61px;
    }

    .single-product .product-price {
        font-size: 24px;
    }

    .single-product .product-description {
        font-size: 15px;
        width: 600px;
        letter-spacing: 0.52px;
        line-height: 22px;
        margin-top: 50px;

    }

    .single-product .line {
        width: 600px;
    }

    .single-product .place-bid {
        display: flex;
        flex-direction: row;
    }

    .single-product .button {
        margin-left: 20px;
        margin-top: 0px;
    }

    .single-product .arrow {
        margin-left: 10px;
        margin-bottom: 4px;
    }

    .single-product .button p {
        font-size: 18px;
        padding: 7px 1px;
    }
}